{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
	"extends": [
    "eslint:recommended"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": false,
    "__FIREBASE__": false,
    "$Shape": false
  },
  "rules": {
    "react/jsx-no-undef": 2,
    "react/jsx-uses-vars": 2,
    "react/jsx-uses-react": 2,
    "indent": [2, 2],
    "semi": [2, "never"],
    "quotes": [2, "single"]
  }
}
