{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
	"extends": [
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__DEV__": false,
    "__FIREBASE__": false
  },
  "rules": {
    "react/jsx-no-undef": 2,
    "react/jsx-uses-vars": 2
  }
}
